body {
    background-image: url(../images/dallasfield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

#header {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px
}

#question {
    font-family: 'Archivo Narrow', sans-serif;
    color: #ffffff;
    background: #002858;
    font-size: 30px;
    margin: 30px;
    margin-top: 15px;
    text-align: center;
    border-radius: 8px;
}

#answers {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: middle;
}

#start {
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #002858;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

#start:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #000000;
    color: #ffffff;
}

#reset {
    text-align: center;
    margin-top: 30px; 
    border-radius: 8px;
    background-color: #002858;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

#reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #000000;
    color: #ffffff;
}

.ban {
    border-radius: 8px;
    background-color: #002858;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}

.ban:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #000000;
    color: #ffffff;
}

.main {
    border: 5px solid black;
}

#time {
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #002858;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0px;
}

#next {
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #002858;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}